/* document outline ----------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
html{
  height:100%;
  overscroll-behavior:none; /* バウンススクロールを抑止(only for Android) */
}
body{
  margin:10px;
  padding:0;
  background:#efe;
}
a{
  text-decoration:none;
}
button{
  cursor:pointer;
  display:inline-block;
  width:5vw;
  background-color:#eee;
  border:1px solid #999;
  border-radius:10px; /* 角丸表示 */
  vertical-align:middle;
  text-align:center;
  padding:6px 0;
}

/* Article decoration ----------------------------------------*/
.sectionTitle{
  display:inline-block;
  width:43vw;
  font-size:x-large;
  font-weight:bold;
  background-color:#eee;
  background-image:linear-gradient(#fff 0%, #eee 50%, #ddd 51%, #fff 100%);
  border:1px solid #999;
  border-radius:15px; /* 角丸表示 */
  margin-bottom:1em; /* 行下にスペースを空ける */
  padding:5px 10px;
  white-space:nowrap;
}
.doAction{
  font-weight:bold;
}
.bgcontainer{
  display:flex;
}
.mainboard{
  cursor:pointer;
}
.answertable{
  margin-left:20px;
  flex-shrink:0; /* 幅を固定 */
}
.answerscore{
  text-align:right;
}
.option{
  position:absolute; /* 画面右上に表示 */
  top:15px;
  right:10px;
}
.description{
  margin-left:20px;
}
.gnuanalysis{
}

/* index.html decoration ----------------------------------------*/
.container{
  margin-left:2vw;
  border-collapse:separate;
  border-spacing:0.3vw;
}
.dt{
  width:7em;
  padding:0.7vw;
  background:#ddf;
  text-align:left;
}
.dd{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}
.contents{
  /*font-size:1.4vw;*/
  width:5em;
  margin:.2vw;
  height:2.3em;
  line-height:2.3em;
  background-color:#fdd;
  text-align:center;
}

/* bgboard decoration ----------------------------------------*/
.mainboard{
  position:relative;
}
.cube{
  position:absolute;
  text-align:center;
  line-height:40px;
  text-align:center;
  color:black;
  font-size:16pt;
  font-weight:bold;
  color:white; /* normal cube */
  background-color:olive;
}
.cubeoffer{
  color:blue;
  background-color:violet;
}
.dice{
  position:absolute;
  font-size:35px;
}
.label{
  position:absolute;
  text-align:center;
  color:white;
  font-size:8pt;
  width:30px;
}
.stack{
  position:absolute;
  text-align:center;
  font-weight:bold;
  font-size:12pt;
  padding-top:2px;
  line-height:30px;
  width:30px;
  z-index:30;
}
.chequer{
  position:absolute;
  width:30px;
  font-size:30px;
  line-height:30px;
  z-index:10;
}
