/* document outline ----------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
html{
  height:100%;
  overflow:auto;
  overscroll-behavior:none; /* バウンススクロールを抑止(only for Android and iOS>=16) */
  height:-webkit-fill-available; /* iOSで100%表示されない事態を回避 */
}
body{
  padding:0;
  background:#efe;
  -webkit-text-size-adjust:100%; /* iPhoneで文字サイズが勝手に大きくならないように */
  text-size-adjust:100%;
  font-size:100%;
  font-family:sans-serif;
}
a{
  text-decoration:none;
}
pre{
  font-family:monospace;
}
button{
  cursor:pointer;
  display:inline-block;
  min-width:4vw;
  background-color:#eee;
  border:1px solid #999;
  border-radius:10px; /* 角丸表示 */
  vertical-align:middle;
  text-align:center;
  padding:0.5em 1em;
}
header{
}
pre{
  font-size:120%;
  margin:0; /* 上下の空行を無くす */
}

/* Article decoration ----------------------------------------*/
.navpopup{
  position:absolute;
  display:none;
  margin:8px; /* body(既定) の margin に合わせる */
  top:0;
  left:3em;
  z-index:90;
  background-color:#efc;
  padding:2vh 3vw;
  border:1px solid #999;
}
.prevnext{
  position:fixed;
  top:26vh; /* boardの真ん中にボタンを置く */
  min-width:0;
  opacity:0.7;
  margin:0.5vw;
  z-index:9;
}
#selectprev{
  left:0;
}
#selectnext{
  right:0;
}
.doAction{
  font-weight:bold;
}
.bgcontainer{
  display:flex; /* landscapeのとき、ボードとAnswerTableは横並びに */
  flex-wrap:wrap;
}
.board{
}
.answertable{
  margin-left:20px;
  flex-shrink:0; /* 幅を固定 */
}
.answerscore{
  text-align:right;
}
.description{
}
.gnuanalysis{
  font-size:120%;
}

/* Constant definision for bgStaticBoard.css ---------------------- */
@media screen and (min-width:1024px) { /* for PC */
:root{
  --boardWidthNum:60; /* < 100 and 15*n */
  --boardHeightNum:45; /* = boardWidthNum * 3/4 */
  --pointWidthNum:4; /* = boardWidthNum / 15 */
  --cubeSizeNum:3.6; /* = pointWidthum * 0.9 */
  --frameSizeNum:1.5;
  --offtrayMarginNum:5;
  --offtrayHeightNum:45; /* = boardHeightNum */
  --cubeFontSizeNum:2.5;
  --labelFontSizeNum:1.2;
  --stackFontSizeNum:2.0;
}}

/* XG Font Board ---------------------------------------------*/
@font-face {
  font-family:'XGFont';
  src:url('/webfonts/extreme-gammon.woff2') format('woff2'),
  url('/webfonts/extreme-gammon.woff') format('woff'),
  url('/webfonts/extreme-gammon.ttf') format('truetype');
}
.xgfont {
  font-family:'XGFont';
  font-size:x-large;
}

/* index.html decoration ----------------------------------------*/
.container{
  margin-left:2vw;
  border-collapse:separate;
  border-spacing:0.3vw;
}
.dt{
  width:7em;
  padding:0.6vh 0.5em 0 1em;
  background:#ddf;
  text-align:left;
  vertical-align:top;
}
.dd{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}
.contents{
  /*font-size:1.4vw;*/
  width:5em;
  margin:.2vw;
  height:1.6em;
  line-height:1.6em;
  background-color:#fdd;
  text-align:center;
  cursor:pointer;
}
.operationbtn{
  width:auto;
}
.nav img{
  vertical-align:middle;
  width:48px;
}
/* exammodePager.html decoration ----------------------------------------*/
.exammodepager{
  margin:0;
  padding:0;
}
.iframe_container{
  width:100%;
  height:100vh;
}
.iframe{
  width:100%;
  height:100%;
  border:none;
  padding:0;
  margin:0;
}
/* dbmodePager.html decoration ----------------------------------------*/
.bgboard{
  line-height:1px;  /* ボード画像部品を上下詰めて表示 */
  width:328px;
  page-break-inside:avoid;
}
.bgid{
  background:#eef;
  border:1px solid #06c;
  line-height:1.3em;
  padding:10px;
  width:600px;
  white-space:pre;
  font-family:monospace, monospace;
}
/* toctable decoration (used in exammodePager and dbmodePager) ---------*/
.toctable{
  border-collapse:collapse;
  border:solid 3px #0aa;
  overflow:visible;
  margin-top:1vh;
}
.toctable td{
  text-align:center; /* 左右中央寄せ */
  background-color:#fee;
  border:solid 2px #aa0;
  padding:1vh 2vw;
  cursor:pointer;
}
.toctable td:hover{
  background-color:#eef;
}
/* help.html decoration ----------------------------------------*/
.reference{
  margin-left:20px;
  border:solid 3px black;
  border-collapse:collapse;
}
.reference td,th{
  border:solid 1px black;
  vertical-align:top;
  text-align:left;
  padding:5px;
}
.paragraph {
  padding-left:20px;
}
