/* document outline ----------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
html{
  height:100%;
  overflow:auto;
  overscroll-behavior:none; /* バウンススクロールを抑止(only for Android and iOS>=16) */
  height:-webkit-fill-available; /* iOSで100%表示されない事態を回避 */
}
body{
  margin:10px;
  padding:0;
  background:#efe;
  -webkit-text-size-adjust:100%; /* iPhoneで文字サイズが勝手に大きくならないように */
  text-size-adjust:100%;
  font-family:sans-serif;
}
a{
  text-decoration:none;
}
pre{
  font-family:monospace;
}
button{
  cursor:pointer;
  display:inline-block;
  min-width:4vw;
/*  font-size:x-large;*/
  background-color:#eee;
  border:1px solid #999;
  border-radius:10px; /* 角丸表示 */
  vertical-align:middle;
  text-align:center;
  padding:10px;
}
header{
  display:inline-block; /* navボタンを横並びに */
}
nav{
  display:inline-block;
}
pre{
  font-size:120%;
  margin:0; /* 上下の空行を無くす */
}

/* Article decoration ----------------------------------------*/
.sectionTitle{
  display:inline-block;
  width:45vw;
  font-size:x-large;
  font-weight:bold;
  background-color:#eee;
  background-image:linear-gradient(#fff 0%, #eee 50%, #ddd 51%, #fff 100%);
  border:1px solid #999;
  border-radius:15px; /* 角丸表示 */
  margin-bottom:1em; /* 行下にスペースを空ける */
  padding:5px 10px;
  white-space:nowrap;
}
.doAction{
  font-weight:bold;
}
.bgcontainer{
  display:flex; /* コンテンツを横並びに */
  flex-wrap:wrap;
}
.board{
  cursor:pointer;
}
.answertable{
  margin-left:20px;
  flex-shrink:0; /* 幅を固定 */
}
.answerscore{
  text-align:right;
}
.option{
  position:absolute; /* 画面右上に表示 */
  top:15px;
  right:10px;
}
.description{
  margin-left:20px;
}
.gnuanalysis{
  font-size:120%;
}
.container{
}

/* Constant definision for bgStaticBoard.css ---------------------- */
:root{ /* for Smart Phone */
  --boardHeightNum: 48;
  --boardWidthNum: 60;
  --pointWidthNum: 4;
  --cubeSizeNum: 3.4;
  --frameSizeNum: 2.6;
  --offtrayMarginNum: 10;
  --offtrayHeightNum: 48; /* bgBoardApp=49, other=boardHeightNum */
  --cubeFontSizeNum: 2;
  --labelFontSizeNum: 1.4;
  --stackFontSizeNum: 2.0;
}
@media screen and (min-width:1024px) { /* for PC */
:root{
  --boardHeightNum: 24;
  --boardWidthNum: 30;
  --pointWidthNum: 2;
  --cubeSizeNum: 1.7;
  --frameSizeNum: 1.3;
  --offtrayMarginNum: 5;
  --offtrayHeightNum: 24; /* bgBoardApp=49, other=boardHeightNum */
  --cubeFontSizeNum: 1;
  --labelFontSizeNum: 0.7;
  --stackFontSizeNum: 1.0;
}}

/* XG Font Board ---------------------------------------------*/
@font-face {
  font-family:'XGFont';
  src:url('/webfonts/extreme-gammon.woff2') format('woff2'),
  url('/webfonts/extreme-gammon.woff') format('woff'),
  url('/webfonts/extreme-gammon.ttf') format('truetype');
}
.xgfont {
  font-family:'XGFont';
  font-size:2em;
}

/* index.html decoration ----------------------------------------*/
.container{
  margin-left:2vw;
  border-collapse:separate;
  border-spacing:0.3vw;
}
.dt{
  width:7em;
  padding:0 1em;
  background:#ddf;
  text-align:left;
}
.dd{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
}
.contents{
  /*font-size:1.4vw;*/
  width:5em;
  margin:.2vw;
  height:1.6em;
  line-height:1.6em;
  background-color:#fdd;
  text-align:center;
  cursor:pointer;
}
.operationbtn{
  width:auto;
}
.nav img{
  vertical-align:middle;
  width:48px;
}
/* exammodePager.html decoration ----------------------------------------*/
.exammodepager{
  margin:0;
  padding:0;
/*  min-height:100vh;*/
}
.iframe_container{
  position:relative;
  width:100%;
  height:0;
  padding-top:100%;
}
.iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-width:0px;
}
/* dbmodePager.html decoration ----------------------------------------*/
.bgboard{
  line-height: 1px;  /* ボード画像部品を上下詰めて表示 */
  width: 328px;
  page-break-inside: avoid;
}
.bgid{
  background: #eef;
  border: 1px solid #06c;
  line-height: 1.3em;
  padding: 10px;
  width: 600px;
  white-space: pre;
  font-family: monospace, monospace;
}
/* toctable decoration (used in exammodePager and dbmodePager) ---------*/
.toctable{
  border-collapse:collapse;
  border:solid 3px #0aa;
  overflow:visible;
}
.toctable td{
  font-size:1.5vw;
  height:4vh;
  line-height:4vh; /* 上下中央寄せ */
  text-align:center; /* 左右中央寄せ */
  background-color:#fee;
  border:solid 2px #aa0;
  padding:0.7vh 1.5vw;
  cursor:pointer;
}
.toctable td:hover{
  background-color:#eef;
}
/* help.html decoration ----------------------------------------*/
.reference{
  margin-left:20px;
  border:solid 3px black;
  border-collapse:collapse;
}
.reference td,th{
  border:solid 1px black;
  vertical-align:top;
  text-align:left;
  padding:5px;
}
.paragraph {
  padding-left: 20px;
}
